
.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eeeeee;

  &:first-child {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      display: block;
      margin: 0 auto;
      z-index: 1;
      background-color: transparent;
      background-image: url("../img/divider-bottom.svg");
      background-size: 768px 37px;
      background-position: center;
      width: 320px;
      margin-bottom: 190px;
      height: 37px;

      @media (min-width: @tablet-width) {
        display: none;
      }

      @media (min-width: @desktop-width) {
        display: none;
      }
    }
  }
}

.advantages__title {
  .slogan;
  display: block;
  margin: 0;

  &:first-of-type {
    @media (max-width: @mobile-width-only) {
      padding-top: 54px;
    }
  }
}

.advantages__description {
  color: rgb(51, 51, 51);
  display: block;
  width: 280px;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 0.3px;
}

.advantages__item--wrapper {
  width: 320px;
  background-color: #81b3d2;
  color: #ffffff;

  .advantages__description {
    color: #ffffff;
  }
}

.advantages-image {
  display: block;
  margin: 0;
  padding: 0;
}

.advantages-bottom__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  .flex(wrap, center, row);
}

.advantages-bottom__item {
  .flex(wrap, center, column);
  width: 284px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(214, 214, 214, 1);

  &:last-child {
    border-bottom: none;
  }
}

.advantages-bottom__description {
  display: block;
  width: 270px;
  letter-spacing: 0.3px;//не переносится, нужен br?
}

@media (min-width: @tablet-width) {
  .advantages__list {
    width: 768px;
    .flex(wrap, center, column);
    justify-content: space-between;
  }

  .advantages__item {
    .flex(wrap, center, row);

    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }

  .advantages__item--wrapper {
    width: 256px;
    .flex(wrap, center, column);
    justify-content: space-between;
  }//как поменять порядок только в одном блоке? не получается переместить картинку(((((

  .advantages__item img {
    display: block;
    margin: 0;
    padding: 0;
    width: 512px;
    height: 256px;
  }

  .advantages__title {
    width: 160px;
    padding-top: 52px;//тут нужен бр и отмена бр?
  }

  .advantages__description {
    width: 190px;
    margin: 0;
    padding-bottom: 40px;
  }

  .advantages-bottom__list {
    width: 768px;
    .flex(wrap, center, row);
    justify-content: space-evenly;
  }

  .advantages-bottom__item {
    margin: 0;
    padding: 0;
    width: 256px;
    border: none;
  }

  .advantages-bottom__title {
    padding-top: 41px;
    width: 100px;
    text-align: center;
  }

  .advantages-bottom__description {
    padding-bottom: 63px;
    width: 190px;

    &:nth-of-type(2) {
      width: 175px;
      letter-spacing: 0.4;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    width: 1200px;
  }

  .advantages__item {
    .flex(wrap, center, row);
  }

  .advantages__item--wrapper {
    width: 400px;
    height: 256px;
  }

  .advantages__item img {
    width: 800px;
    height: 256px;
  }

  .advantages__description {
    width: 300px;
  }

  .advantages-bottom__list {
    width: 1200px;
  }

  .advantages-bottom__item {
    margin: 0;
    padding: 0;
    width: 400px;
    border: none;
  }

  .advantages-bottom__title {
    padding-top: 52px;
    width: 100px;
    text-align: center;
  }

  .advantages-bottom__description {
    padding-bottom: 52px;
    width: 300px;
  }
}

