.advantages-entry__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.advantages-entry__title {
  .slogan;
}
.advantages-entry__description {
  color: rgb(51, 51, 51);
}
