.footer__copyright {
  .flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
}
.copyright__link {
  background-image: url("../img/footer-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  width: 27px;
  height: 35px;
  padding-left: 40px;
}
