.footer__wrapper {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 flex-direction: column;
 padding-top:33px;
}
.contacts__link {
  .slogan;
  text-decoration: none;
  color: #000000;
}
.copyright__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

}
