.footer {
  width: 100%;
  z-index: -1;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding-top: 42px;
  background-color: #ffffff;
}

.contacts__link {
  .slogan;
  text-decoration: none;
  color: #000000;
  font-size: 21px;
}

.copyright__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer__contacts {
  padding-bottom: 30px;
}

.footer__copyright {//на какой класс нужно навестить состояния?
  &:hover {
    color: rgba(129, 179, 210, 1);
    background-color: #ffffff;
  }

  &:focus {
    color: rgba(118, 99, 87, 1);
    background-color: #ffffff;
  }

  &:active {
    color: rgba(118, 99, 87, 1);
    background-color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    padding-top: 33px;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: 1200px;
  }
}
