.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 156px;
}

.footer__social {
  padding-bottom: 30px;
}

.footer__copyright {
  padding-bottom: 33px;
}

.social__link {
  .button;
  height: 48px;
  width: 48px;
}

.social__link--vkontakte {
  .social__ikon--vkontakte {
    margin-top: 17px;
  }
}

.social__link--telegram {
  .social__ikon--telegram {
    margin-top: 15px;
  }
}

.social__link--youtube {
  .social__ikon--youtube {
    margin-top: 17px;
  }
}

@media (min-width: @mobile-width-only) {
  .social__list {
    padding-top: 30px;
  }

  .footer__copyright {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: @tablet-width) {
  .footer__contacts {
    padding: 14px 55px 47px 60px;
  }

  .footer__social {
    padding: 3px 55px 36px 55px;
  }

  .footer__copyright {
    padding: 9px 55px 43px 60px;
  }

  .social__list {
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__contacts {
    padding: 14px 133px 47px 120px;
  }

  .footer__social {
    padding: 3px 133px 36px 133px;
  }

  .footer__copyright {
    padding: 9px 133px 43px 120px;
  }

  .social__list {
    padding-top: 0;
  }
}
