.form__legend {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-bottom: 16px;
}

.form__legend--bottom {
  font-size: 14px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  margin-right: 19px;
  margin-top: 2px;
}

.form__button {
  font-family: "PT Sans", "Arial", sans-serif;
  .button;
  width: 88%;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: @tablet-width) {
  .form {
    position: relative;
    display: grid;
    grid-template-columns: 295px 295px;
    justify-content: space-between;
    width: 648px;
    margin: 0 auto;
    padding-bottom: 64px;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 350px;
      background-color: rgba(219, 219, 219, 1);
      left: 324px;
      top: 0;
    }
  }

  .form__legend--bottom {
    font-size: 14px;
    text-transform: uppercase;
    align-self: center;
    margin-top: 20px;
    margin-right: -1px;
  }

  .form__button {
    width: 324px;
    margin-top: -2px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    grid-template-columns: 430px 430px;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 64px;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 338px;
      background-color: rgba(219, 219, 219, 1);
      left: 480px;
      top: 0;
    }
  }

  .form__button {
    width: 384px;
    margin-left: 96px;
  }

  .form__legend--bottom {
    margin-right: 96px;
  }
}
