.form-wrapper__area {
  .flex (wrap, center, column);
  justify-content: space-between;
}

.form-field {
  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:focus {
    outline: 1px solid rgba(129, 179, 210, 1);
  }

  &:active {
    background-color: rgba(255, 255, 255, 1);
    outline: 1px solid rgba(229, 229, 229, 1); //почему эктив не белый?
  }

  &:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.form-label {
  display: block;
  margin-left: 16px;
}

@media (max-width: @mobile-width-only) {
  .form-slogan {
    display: block;
    padding-bottom: 28px;
  }

  .form__title {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .form-title {
    display: block;
    padding-top: 24px;
    padding-bottom: 20px;
  }

  .form-wrapper__area {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    margin: 0 auto;
  }

  .form-field {
    width: 247px;
  }

  .form__group {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

.form__item {
  display: flex;
  padding-bottom: 35px;

  &:last-child {
    padding-bottom: 0;
  }
}

.form__label {
  align-items: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 42px;
  padding-bottom: 18px;
  padding-top: 18px;

  &:last-child {
    padding-bottom: 0;
  }
}

.form__control {
  position: relative;
  display: block;
  padding-left: 20px;

  &:hover .form__mark {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active .form__mark {
    background-color: rgba(213, 213, 213, 1);

    &::before {
      opacity: 0.3;
    }

    &::after {
      opacity: 0.3;
    }
  }
}

.form__input:focus + .form__mark {
  background-color: #f2f2f2;
  outline: 1px solid #81b3b2;
}

.form__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
  top: -8px;
  left: 0;
}

.form__input[type="checkbox"]:checked + .form__mark::before,
.form__input[type="checkbox"]:checked + .form__mark::after {
  content: "";
  position: absolute;
  background-color: #333333;
}

.form__input[type="checkbox"]:checked + .form__mark::before {
  transform: rotate(45deg);
  top: 26px;
  left: 12px;
  width: 11px;
  height: 4px;
}

.form__input[type="checkbox"]:checked + .form__mark::after {
  transform: rotate(-45deg);
  top: 22px;
  left: 16px;
  width: 22px;
  height: 4px;
}

@media (min-width: @desktop-width) {
  .form__group .form__title {
    padding-top: 8px;
    padding-bottom: 40px;
  }
}
