.gallery {
  .flex (wrap, center, column);
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
}

.gallery__title {
  .slogan;
  margin: 0 auto;
  padding-top: 38px;
}

.gallery__slogan {
  display: block;
  text-transform: uppercase;
  width: 280px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 34px;
}

.gallery-wrapper {
  .flex (wrap, center, column);
  width: 100%;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .gallery {
    margin: 0;
    padding: 0;
    width: 768px;

    .gallery-wrapper {
      .flex (wrap, center, row);
      width: 648px;
    }
  }

  .gallery__title {
    margin: 0;
    padding-top: 66px;
    font-size: 30px;
    line-height: 26px;
  }

  .gallery__slogan {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 78px;
    width: 440px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    width: 1200px;

    .gallery-wrapper {
      .flex (wrap, center, row);
      width: 1200px;
    }
  }

  .gallery__title {
    padding-top: 100px;
  }

  .gallery__slogan {
    padding-bottom: 83px;
    width: 440px;
  }

  .gallery__wrapper {
    width: 100%;
  }
}
