.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .flex(wrap, center, column, spase-between);

  @media (min-width: @tablet-width) {
    .flex (@flex-direction: row);
    margin: 0 auto;
    min-width: 306px;
  }
}

.main-nav__toggle {
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 23px;
  height: 22px;
}
