.map {
  background-color: #615048;
  width: 320px;

  iframe {
    display: block;
    border: none;
    margin: 0 auto;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.map-image {
  display: block;
  margin: 0 auto;
}

.map img {
  @media (min-width: @tablet-width) {
    width: 768px;
    height: 350px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 350px;
  }
}
