.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  text-align: center;
  width: 320px;
  min-height: 100%;
  .flex (wrap, center, column);
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3), -5px 0 5px rgba(0, 0, 0, 0.3);
}

@media (min-width: @tablet-width) {
  .page-body {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page-body {
    width: 1200px;
  }
}
