// Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.html {
  height: 100%;
}

.main-container {
  .flex (wrap, center,column);
  flex-grow: 1;
  justify-content: flex-start;
  background-color: #ffffff;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
}


.br--mobile {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 768px;
  }

  .br--mobile {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1200px;
  }

  .main-container {
    width: 1200px;
  }
}

.br--tablet {
  display: none;
}

@media (min-width: 768px) & (min-width: 120px) {
  .br--tablet {
    display: block;
  }
}
