.button() {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: hsl(203, 47%, 66%);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.slogan() {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.flex() {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.title() {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
